# String Based Assignment Problem

1. Write a program to reverse a string.

In [3]:
string=str(input('Enter a string: '))
rev_string=string[::-1]
print('The reversed string is',rev_string)

Enter a string: Hello, World
The reversed string is dlroW ,olleH

2. Check if a string is a palindrome.

In [4]:
string=str(input('Enter a String: '))
rev_string=string[::-1]
if(string==rev_string):
    print(string,'is palindrome')
else:
    print(string,'is not palindrome')

Enter a String: liril
liril is palindrome

3. Convert a string to uppercase.

In [5]:
string=str(input('Enter a string: '))
up_string=string.upper()
print(up_string,'is converted to uppercase')

Enter a string: Hello,World
HELLO,WORLD is converted to uppercase

4. Convert a string to lowercase.

In [6]:
string=str(input('Enter a string: '))
lo_string=string.lower()
print(lo_string,'is converted to lowercase')

Enter a string: I AM a BOY
i am a boy is converted to lowercase

5. Count the number of vowels in a string.

In [7]:
string=str.lower(input('Enter a string: '))
count=0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        count+=1
print('The number of vowels in',string,'is',count)

Enter a string: I am a boy
The number of vowels in i am a boy is 4

6. Count the number of consonants in a string.

In [10]:
string=str.lower(input('Enter a string: '))
count=0
consonant='bcdfghjklmnpqrstvwxyz'
for i in string:
    if i in consonant:
        count+=1
print('The number of consonants in',string,'is',count)

Enter a string: Priyabrata
The number of consonants in priyabrata is 6

7. Remove all whitespaces from a string.

In [14]:
string=str(input('Enter a string: '))
new_string=string.replace(" ","")
print('After removing spaces the new string is',new_string)

Enter a string:      Hello    World
After removing spaces the new string is HelloWorld

8. Find the length of a string without using the `len()` function.

In [15]:
string=str(input('Enter a string: '))
count=0
for i in string:
    count+=1
print('The length of a string is',count)

Enter a string: Hello world
The length of a string is 11

9.Check if a string contains a specific word.

In [18]:
string=str(input('Enter a string: '))
word=str(input('Enter a Word: '))
if word in string:
    print(string,'contains',word)
else:
    print(string,'doesnot contain',word)

Enter a string: I am a boy
Enter a Word: boy
I am a boy contains boy

10. Replace a word in a string with another word.

In [19]:
string=str(input('Enter a string: '))
old_word=str(input('Enter the old word: '))
new_word=str(input('Enter the new word: '))
replaced_string=string.replace(old_word,new_word)
print('Replaced String: ',replaced_string)

Enter a string: I am a boy
Enter the old word: boy
Enter the new word: girl
Replaced String:  I am a girl

11. Count the occurrences of a word in a string.

In [24]:
string=str(input('Enter a string: '))
target_word=str(input('Enter the word: '))
count=0
words=string.split()
for word in words:
    if target_word==word:
        count+=1
print('the number occrrences of',target_word,'is',count)

Enter a string: This example is a perfect example of getting new things.
Enter the word: example
the number occrrences of example is 2

12. Find the first occurrence of a word in a string.

In [68]:
string=input('Enter a string: ')
word=input('Enter a word:')
index=string.find(word)
if index==-1:
    print(f'The word {word} is not in {string}')
else:
    print(f'The first occurance of {word} in {string} is {index}')

Enter a string: I am gonna catch the train at train station
Enter a word:train
The first occurance of train in I am gonna catch the train at train station is 21

13. Find the last occurrence of a word in a string.

In [69]:
string=input('Enter a string: ')
word=input('Enter a word:')
index=string.rfind(word)
if index==-1:
    print(f'The word {word} is not in {string}')
else:
    print(f'The last occurance of {word} in {string} is {index}')

Enter a string: That is the last train which is gonna come to train station
Enter a word:train
The last occurance of train in That is the last train which is gonna come to train station is 46

14. Split a string into a list of words.

In [3]:
string=input('Enter a string: ')
lst=string.split()
print('The splitted string is:',lst)

Enter a string: This is a tree
The splitted string is: ['This', 'is', 'a', 'tree']

15. Join a list of words into a string.

In [10]:
lst=[]
num=int(input('Enter the number of element to be added to the list:'))
for i in range(0,num):
    ele=input()
    lst.append(ele)
print('The original list is:',lst)
string=' '.join(lst)
print('The joined string from a list is:',string)

Enter the number of element to be added to the list:4
I
am
a
boy
The original list is: ['I', 'am', 'a', 'boy']
The joined string from a list is: I am a boy

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [12]:
string=input('Enter a string: ')
string2=string.replace(' ','_')
print('The converted string is:',string2)

Enter a string: I am a boy
The converted string is: I_am_a_boy

17. Check if a string starts with a specific word or phrase.

In [3]:
string=input('Enter a string:')
first_letter=input('Enter a word:')
res=string.startswith(first_letter)
if res==True:
    print(f'{string} starts with {first_letter}')
else:
    print(f'{string} does not start with {first_letter}')

Enter a string:Hello World
Enter a word:Hello
Hello World starts with Hello

18.Check if a string ends with a specific word or phrase.

In [5]:
string=input('Enter a string:')
first_letter=input('Enter a word:')
res=string.endswith(first_letter)
if res==True:
    print(f'{string} ends with {first_letter}')
else:
    print(f'{string} does not end with {first_letter}')

Enter a string:Priyabrata Sahoo
Enter a word:Sahoo
Priyabrata Sahoo ends with Sahoo

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [15]:
string1=input('Enter a string:')
string2=string1.title()
print(string2)

Enter a string:hello world
Hello World

20. Find the longest word in a string.

In [74]:
string=input('Enter a String: ')
words=string.split()
long_word=''
length=0

for w in words:
    if length<len(w):
        length=len(w)
        long_word=w
print('The longest word is',long_word)

Enter a String: This is an example sentence
The longest word is sentence

21. Find the shortest word in a string.

In [76]:
string=input('Enter a string: ')
words=string.split()
short_word=''
length=float('inf')

for word in words:
    if length>len(word):
        length=len(word)
        short_word=word
print('The shortest word is:',short_word)

Enter a string: String based Questions and Answers
The shortest word is: and

22. Reverse the order of words in a string.

In [9]:
string=input('Enter a String:')
print('The original String is:',string)
lst=string.split()
lst=lst[::-1]
new_string=' '
rev_order_string=new_string.join(lst)
print('Reversed order of words in a string:',rev_order_string)

Enter a String:This is Pw Skills
The original String is: This is Pw Skills
Reversed order of words in a string: Skills Pw is This

23.Check if a string is alphanumeric.

In [1]:
string=input('Enter a string:')
if string.isalnum():
    print('String is alphanumeric')
else:
    print('String is not alphanumeric')

Enter a string:Hello 123
String is not alphanumeric

24. Extract all digits from a string.

In [14]:
string=input('Enter a alphanumeric string:')
num_string=''
for i in string:
    if i.isdigit():
        num_string+=i
print('The digits from a string:',num_string)

Enter a alphanumeric string:Hello234world7898
The digits from a string: 2347898

25. Extract all alphabets from a string.

In [15]:
string=input('Enter a alphanumeric string:')
num_string=''
for i in string:
    if i.isalpha():
        num_string+=i
print('The alphabets from a string:',num_string)

Enter a alphanumeric string:Hellohi8799hehe
The alphabets from a string: Hellohihehe

26. Count the number of uppercase letters in a string.

In [4]:
string=input('Enter a string:')
count=0
for i in string:
    if i.isupper():
        count+=1

print('The number of uppercase letter in a string is:',count)

Enter a string:I am a Boy
The number of uppercase letter in a string is: 2

27. Count the number of lowercase letters in a string.

In [5]:
string=input('Enter a string:')
count=0
for i in string:
    if i.islower():
        count+=1

print('The number of lowercase letter in a string is:',count)

Enter a string:Hello
The number of lowercase letter in a string is: 4

28. Swap the case of each character in a string.

In [6]:
string=input('Enter a string:')
string2=string.swapcase()
print('After swapping the case of each character is:',string2)

Enter a string:HellO
After swapping the case of each character is: hELLo

29. Remove a specific word from a string.

In [17]:
string=input('Enter a string: ')
remove_word=input('Enter a specific word you want to remove: ')
new_string=' '
lst=string.split()
lst.remove(remove_word)
new_string=new_string.join(lst)
print('The original string is',string)
print(f'After removing {remove_word} from string the string:',new_string)

Enter a string: This is a python programming language
Enter a specific word you want to remove: python
The original string is This is a python programming language
After removing python from string the string: This is a programming language

30. Check if a string is a valid email address.

In [20]:
import re
email=input('Enter a email address: ')
pat = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,7}\b'
if re.fullmatch(pat,email):
    print('It is a Valid Email.')
else:
    print('It is not a Valid email')

Enter a email address: priya@gmail.com
It is a Valid Email.

31. Extract the username from an email address string.

In [21]:
email=input('Enter a email address:')
username=email.split('@')[0]
print('The original email:',email)
print('The username:',username)

Enter a email address:priya@gmail.com
The original email: priya@gmail.com
The username: priya

32. Extract the domain name from an email address string.

In [22]:
email=input('Enter a email address:')
domain=email.split('@')[1]
print('The orginal email:',email)
print('The domain name is:',domain)

Enter a email address:Priya@hotmail.com
The orginal email: Priya@hotmail.com
The domain name is: hotmail.com

33. Replace multiple spaces in a string with a single space.

In [25]:
string=input('Enter a line with multiple spaces:')
new_string=' '.join(string.split())
print('The original line:',string)
print('New string by replacing multiple spaces with single space:',new_string)

Enter a line with multiple spaces:I  am   attending  PW     skills     Class
The original line: I  am   attending  PW     skills     Class
New string by replacing multiple spaces with single space: I am attending PW skills Class

34. Check if a string is a valid URL.

In [34]:
from urllib.parse import urlparse
def check_url(url):
    try:
        result=urlparse(url)
        return all([result.scheme,result.netloc])
    except ValueError:
        return False

url=input('Enter a url: ')
check_url(url)

Enter a url: https://www.wikipedia.com

True

35. Extract the protocol (http or https) from a URL string.

In [36]:
url=input('Enter a URL')
protocol=url.split('://')[0]
print('The URL is',url)
print('The protocol is',protocol)

Enter a URLhttp://www.facebook.com
The URL is http://www.facebook.com
The protocol is http

36. Find the frequency of each character in a string.

In [77]:
string=input('Enter a string:')
frequency={}

for char in string:
    if char in frequency:
        frequency[char]+=1
    else:
        frequency[char]=1

for char, freq in frequency.items():
    print(f'characters:{char},Frequency:{freq}')

Enter a string:I am a good boy
characters:I,Frequency:1
characters: ,Frequency:4
characters:a,Frequency:2
characters:m,Frequency:1
characters:g,Frequency:1
characters:o,Frequency:3
characters:d,Frequency:1
characters:b,Frequency:1
characters:y,Frequency:1

37. Remove all punctuation from a string.

In [40]:
import re
string=input('Enter a string:')
remove_punc=re.sub(r'[^\w\s]','',string)
print('After removing all punctuations string:',remove_punc)

Enter a string:Hello, What are you doing? Everything ok.
After removing all punctuations string: Hello What are you doing Everything ok

38. Check if a string contains only digits.

In [23]:
string=input('Enter a string:')
if string.isdigit():
    print(f'{string} contains only digits')
else:
    print(f'{string} doesnot contains only digits')

Enter a string:65435
65435 contains only digits

39. Check if a string contains only alphabets.

In [14]:
string=input('Enter a string:')
if string.isalpha():
    print(f'{string} contains only alphabets')
else:
    print(f'{string} doesnot contains only alphabets')

Enter a string:Hello
Hello contains only alphabets

40. Convert a string to a list of characters.

In [15]:
string=input('Enter a string:')
lst=string.split()
print(f'{string} after converting to a list of characters:{lst}')

Enter a string:I am a boy
I am a boy after converting to a list of characters:['I', 'am', 'a', 'boy']

41. Check if two strings are anagrams.

In [19]:
string1=input('Enter the first string:')
string2=input('Enter the second string:')
if sorted(string1)==sorted(string2):
    print('Both strings are anagrams')
else:
    print('both strings are not anagrams')

Enter the first string:listen
Enter the second string:silent
Both strings are anagrams

42. Encode a string using a Caesar cipher.

In [94]:
text=input('Enter a text:')
shift=int(input('Enter shift position:'))
encoded_text=''

for char in text:
    if char.isalpha():
        encoded_char=chr((ord(char)+shift-ord('a'))%26+ord('a'))
    else:
        encoded_char=char

    encoded_text+=encoded_char
print('The encoded text:',encoded_text)

Enter a text:hello,python
Enter shift position:3
The encoded text: khoor,sbwkrq

43. Decode a Caesar cipher encoded string.

In [95]:
text=input('Enter a text:')
shift=int(input('Enter shift position:'))
decoded_text=''
for char in text:
    if char.isalpha():
        decoded_char=chr((ord(char)-shift-ord('a'))%26+ord('a'))
    else:
        decoded_char=char

    decoded_text+=decoded_char
print('The decoded text:',decoded_text)

Enter a text:khoor,sbwkrq
Enter shift position:3
The decoded text: hello,python

44. Find the most frequent word in a string.

In [90]:
string="Hello world, hello there! How's the world?".lower()
res={}
conv=string.split()

for i in conv:
    if i in res:
        res[i]+=1
    else:
        res[i]=1

Keymax = max(zip(res.values(), res.keys()))[1]
print('The maximum used word in this string:',Keymax)

The maximum used word in this string: hello

45. Find all unique words in a string.

In [38]:
import re
string=input('Enter a string:')
clean_string=re.sub(r'[^\w\s]',' ',string)
unique_words=set(clean_string.split())
print('The unique words in a string is:',unique_words)

Enter a string:Hello World,Hello there, why you there
The unique words in a string is: {'why', 'you', 'Hello', 'World', 'there'}

46. Count the number of syllables in a string.

In [81]:
import re
word=input('Enter a string:')
vowel_group=re.findall(r'[aeiouy]+',word,re.IGNORECASE)
print(f'The syllables in {word}:',len(vowel_group))

Enter a string:Hello
The syllables in Hello: 2

47. Check if a string contains any special characters.

In [85]:
import re
string=input('Enter a string: ')
special_char=re.compile(r'[!@#$%^&*()_+{}\[\]:;<>.,?~\\/]')
match=special_char.search(string)
print(f'The string {string} contains any special characters:',bool(match))

Enter a string: Hello,World!
The string Hello,World! contains any special characters: True

48. Remove the nth word from a string.

In [62]:
def remove_nth_word(string,n):
    word=string.split()
    removed_word=word[n-1]
    removed_word_pos=word.pop(n-1)
    new_string=' '.join(word)
    
    return new_string,removed_word
string=input('Enter a string for input: ')
n_pos=int(input('Enter the position for remove: '))
new_str,remove_word=remove_nth_word(string,n_pos)
print('Original String:',string)
print(f'new string after removing from {n_pos} position: {new_str}')
print('Removed word:',remove_word)

Enter a string for input: I am a boy
Enter the position for remove: 3
Original String: I am a boy
new string after removing from 3 position: I am boy
Removed word: a

49. Insert a word at the nth position in a string.

In [65]:
def add_nth_word(string,word,n):
    lst=string.split()
    add_pos=lst.insert(n-1,word)
    string=' '.join(lst)

    return string

string=input('Enter a string:')
word=input('Enter a word:')
n_pos=int(input('Enter a pos:'))

new_str=add_nth_word(string,word,n_pos)
print('Original String:',string)
print(f'New String after adding {word} at postion {n_pos}: {new_str}')

Enter a string:Hello This is Assignment
Enter a word:an
Enter a pos:4
Original String: Hello This is Assignment
New String after adding an at postion 4: Hello This is an Assignment

50. Convert a CSV string to a list of lists.

In [89]:
csv_data='Name ,ID , pos\nPriya , 1 , ASE\nKiran , 2 , AD\nPratyush , 3 , RND'
csv_list=[]
lines=csv_data.split('\n')
for l in lines:
    field=l.split(',')
    csv_list.append(field)
for i in csv_list:
    print(i)

['Name ', 'ID ', ' pos']
['Priya ', ' 1 ', ' ASE']
['Kiran ', ' 2 ', ' AD']
['Pratyush ', ' 3 ', ' RND']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [26]:
integer=[x for x in range(1,11)]
print('The list of integers from 1 to 10 is',integer)

The list of integers from 1 to 10 is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [28]:
lst=['I','am','a','boy',5,7]
count=0
for i in lst:
    count+=1
print('The length of a list is',count)

The length of a list is 6

3. Append an element to the end of a list.

In [29]:
lst=['My','name','is']
string=input('Enter your name')
lst.append(string)
print('The list appending an elemnt ',lst)

Enter your namePriyabrata
The list appending an elemnt  ['My', 'name', 'is', 'Priyabrata']

4. Insert an element at a specific index in a list.

In [32]:
cars=['BMW','Mercedes','Volvo','Mclaren','Audi']
num=int(input('Enter the nth position to add an element:'))
car=input('Enter a car brand')
cars.insert(num,car)
print('The updated list is:',cars)

Enter the nth position to add an element:3
Enter a car brandRolls Royace
The updated list is: ['BMW', 'Mercedes', 'Volvo', 'Rolls Royace', 'Mclaren', 'Audi']

5. Remove an element from a list by its value.

In [35]:
fruits=['orange','banana','apple','cherry']
n=input('Enter the value to remove from list')
fruits.remove(n)
print(f'After removing {n} the updated list is',fruits)

Enter the value to remove from listbanana
After removing banana the updated list is ['orange', 'apple', 'cherry']

6. Remove an element from a list by its index.

In [36]:
brands=['Gucci','LV','Armani','Versache','Prada']
n=int(input('Enter the nth position to remove from list'))
brands.pop(n)
print(f'After removing {n} the updated list is',brands)

Enter the nth position to remove from list1
After removing 1 the updated list is ['Gucci', 'Armani', 'Versache', 'Prada']

7. Check if an element exists in a list.

In [40]:
name=['Rohit','Virat','KL','Ishan','Gill','Hardik','Jaddu']
n=input('Enter a name to check if it is exist in list or not:')
if n in name:
    print(f'{n} is available in {name}')
else:
    print(f'{n} is not available in {name}')

Enter a name to check if it is exist in list or not:Jaddu
Jaddu is available in ['Rohit', 'Virat', 'KL', 'Ishan', 'Gill', 'Hardik', 'Jaddu']

8. Find the index of the first occurrence of an element in a list.

In [96]:
fruits=['apple','banana','cherry','mango']
word=input('Enter a word to find its index:')
index=fruits.index(word)
print(f'The index of {word} is {index}')

Enter a word to find its index:banana
The index of banana is 1

9. Count the occurrences of an element in a list.

In [98]:
fruits=['apple','banana','cherry','apple']
word=input('Enter a word:')
count=fruits.count(word)
print(f'The occurance of {word} is {count} in this list')

Enter a word:apple
The occurance of apple is 2 in this list

10. Reverse the order of elements in a list.

In [42]:
kit=['bat','ball','gloves','pad','helmet']
rev_kit=kit[::-1]
print('The reverse order list is',rev_kit)

The reverse order list is ['helmet', 'pad', 'gloves', 'ball', 'bat']

11. Sort a list in ascending order.

In [5]:
alphabet=['d','f','b','a','e','c']
alphabet.sort()
print('The sorted list in ascending order:',alphabet)

The sorted list in ascending order: ['a', 'b', 'c', 'd', 'e', 'f']

12. Sort a list in descending order.

In [6]:
vowel=['a','i','u','e','o']
vowel.sort(reverse=True)
print('The sorted list in descending order:',vowel)

The sorted list in descending order: ['u', 'o', 'i', 'e', 'a']

13. Create a list of even numbers from 1 to 20.

In [10]:
even=[x for x in range(1,21) if x%2==0]
print('The list of even numbers from 1 to 20 are:',even)

The list of even numbers from 1 to 20 are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [11]:
odd=[x for x in range(1,21) if x%2!=0]
print('The list of odd numbers from 1 to 20 are:',odd)

The list of odd numbers from 1 to 20 are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [14]:
lst=[]
sum=0
num=int(input('Enter number of element to be added to the list'))
for i in range(0,num):
    ele=int(input())
    lst.append(ele)
for i in lst:
    sum+=i
print('The sum of the all elements in the list are',sum)

Enter number of element to be added to the list5
23
56
87
26
12
The sum of the all elements in the list are 204

16. Find the maximum value in a list.

In [99]:
num=[10,122,34,67,33,9,3]
print('The maximum value in this list',max(num))

The maximum value in this list 122

17. Find the minimum value in a list.

In [100]:
num=[10,122,34,67,33,9,3]
print('The maximum value in this list',min(num))

The maximum value in this list 3

18. Create a list of squares of numbers from 1 to 10.

In [16]:
square=[x**2 for x in range(1,11)]
print('The list of squares of numbers from 1 to 10 are:',square)

The list of squares of numbers from 1 to 10 are: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [18]:
from random import randint
n=int(input('Enter the required random numbers: '))
start=int(input('Enter a starting number: '))
stop=int(input('Enter a stopping number: '))
rand_list=[]
for i in range(n):
    rand_list.append(randint(start,stop))
print('list of random numbers are:',rand_list)

Enter the required random numbers: 10
Enter a starting number: 23
Enter a stopping number: 678
list of random numbers are: [489, 336, 291, 637, 444, 255, 32, 325, 600, 667]

20. Remove duplicates from a list.

In [101]:
num=[10,11,12,13,14,10,11,13,15,16,11,17,13,18]
org_list=[]
for i in num:
    if i not in org_list:
        org_list.append(i)

print('The original list:',num)
print('After removing duplicates the list:',org_list)

The original list: [10, 11, 12, 13, 14, 10, 11, 13, 15, 16, 11, 17, 13, 18]
After removing duplicates the list: [10, 11, 12, 13, 14, 15, 16, 17, 18]

21. Find the common elements between two lists.

In [ ]:
num1=[10,11,12,13,14,15]
num2=[15,16,12,17,18,19,14]
common_ele=[]
for i in num1:
    if i in num2:
        common_ele.append(i)
print('The first list:',num1)
print('The second list:',num2)
print('The common element between two lists are:',common_ele)

22. Find the difference between two lists.

In [102]:
num1=[10,11,12,13,14,15]
num2=[15,16,12,17,18,19,14]
differ_ele=[]
for i in num1:
    if i not in num2:
        differ_ele.append(i)
print('The first list:',num1)
print('The second list:',num2)
print('The different element between two lists are:',differ_ele)

The first list: [10, 11, 12, 13, 14, 15]
The second list: [15, 16, 12, 17, 18, 19, 14]
The different element between two lists are: [10, 11, 13]

23. Merge two lists.

In [19]:
list1=[10,11,12,13,14]
list2=[15,16,17,18,19]
list3=list1+list2
print('After merging two list the list:',list3)

After merging two list the list: [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

24. Multiply all elements in a list by 2.

In [22]:
list1=[12,145,67,32,89]
list1=[x*2 for x in list1]
print('After multiplying all elements by 2:',list1)

After multiplying all elements by 2: [24, 290, 134, 64, 178]

25. Filter out all even numbers from a list.

In [23]:
org_list=[10,11,12,13,14,15,16,17,18,19,20]
even_list=[x for x in org_list if x%2==0]
print('all even numbers from original list:',even_list)

all even numbers from original list: [10, 12, 14, 16, 18, 20]

26. Convert a list of strings to a list of integers.

In [103]:
num=['1','2','3','4','5']
new_list=[]
for i in num:
    new_list.append(int(i))
print('After converting a list from string to integer:',new_list)

After converting a list from string to integer: [1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [104]:
num=[1,2,3,4,5]
new_list=[]
for i in num:
    new_list.append(str(i))
print('After converting a list from integer to string:',new_list)

After converting a list from integer to string: ['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [24]:
nest_list=[[1],[2,3],[4,5,6],[7,8,9,10]]
flat_list=[num for sublist in nest_list for num in sublist]
print('The flatten list is',flat_list)

The flatten list is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

29. Create a list of the first 10 Fibonacci numbers.

In [105]:
num1=0
num2=1
num3=num1+num2
lst=[]
for i in range(10):
    num3 = num1 + num2
    lst.append(num1)
    num1=num2
    num2=num3
print('The first 10 Fibonacci numbers are:',lst)

The first 10 Fibonacci numbers are: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [31]:
org_list=[]
num=int(input('Enter the number of input to be added to the list'))
print('The list elements are:')
for i in range(num):
    ele=int(input())
    org_list.append(ele)
print('The original list is ',org_list)
org_list_copy=org_list[:]
org_list_copy.sort()
if org_list==org_list_copy:
    print('list is sorted')
else:
    print('list is not sorted')

Enter the number of input to be added to the list5
The list elements are:
12
23
22
45
13
The original list is  [12, 23, 22, 45, 13]
list is not sorted

31. Rotate a list to the left by `n` positions.

In [3]:
num=[1,2,3,4,5,6,7,8]
n=int(input('Enter a number for left rotation:'))
n=n%len(num)

roateted_list=num[n:]+num[:n]
print(f'The roateted list by {n} to the left:',roateted_list)

Enter a number for left rotation:2
The roateted list by 2 to the left: [3, 4, 5, 6, 7, 8, 1, 2]

32. Rotate a list to the right by `n` positions.

In [5]:
num=[1,2,3,4,5,6,7,8]
n=int(input('Enter a number for right rotation:'))
n=n%len(num)

roateted_list=num[-n:]+num[:-n]
print(f'The roateted list by {n} to the right:',roateted_list)

Enter a number for right rotation:2
The roateted list by 2 to the right: [7, 8, 1, 2, 3, 4, 5, 6]

33. Create a list of prime numbers up to 50.

In [35]:
prime=[]
flag=False
for num in range(2,50):
    for x in range(2,num):
        if num%x==0:
            flag=True
            break
    else:
        prime.append(num)
print('The list of prime numbers up to 50:',prime)

The list of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [6]:
num_list=[1,2,3,4,5,6,7,8,9]
n=int(input('Enter a size for split:'))
print('The splitted lists are:')
for i in range(0,len(num_list),n):
    print(num_list[i:i+n])

Enter a size for split:3
The splitted lists are:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list.

In [106]:
list1=[10,11,12,13,14,15,17,16,18,20]
print('The original list:',list1)
new_list=[]
list1.remove(max(list1))
for i in list1:
    new_list.append(i)
print('The second largest number in this list:',max(new_list))

The original list: [10, 11, 12, 13, 14, 15, 17, 16, 18, 20]
The second largest number in this list: 18

36. Replace every element in a list with its square.

In [36]:
list1=[2,3,4,5,6]
for x in range(len(list1)):
    list1[x]=list1[x]**2
print('After replacing every element with its square in a list is ',list1)

After replacing every element with its square in a list is  [4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [8]:
num=[10,11,12,13,14]
dict={}
for i in num:
    dict.update({i:num.index(i)})
print('The original list:',num)
print('After converting a list into a dictionary:',dict)

The original list: [10, 11, 12, 13, 14]
After converting a list into a dictionary: {10: 0, 11: 1, 12: 2, 13: 3, 14: 4}

38. Shuffle the elements of a list randomly.

In [9]:
from random import shuffle
num_list=[1,2,3,56,67,4,45,9,0]
shuffle(num_list)
print('The shuffled list:',num_list)

The shuffled list: [3, 2, 9, 4, 0, 56, 1, 67, 45]

39. Create a list of the first 10 factorial numbers.

In [2]:
fact_num=[]
for num in range(1,11):
    mul=1
    for x in range(num,1,-1):
        mul*=x
    fact_num.append(mul)
print('The first 10 factorial numbers are:',fact_num)

The first 10 factorial numbers are: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [15]:
l1=[10,11,12,13,14,15]
l2=[15,16,17,18]
l3=[]
for i in l1:
    if i in l2:
        l3.append(i)

if len(l3)!=0:
    print('Atleast one element is common')
else:
    print('No element is common')

Atleast one element is common

41. Remove all elements from a list.

In [3]:
lst=[1,2,3,46,543,4567,65432,34,54,3212,345]
lst.clear()
print('After removing all elements from a list:',lst)

After removing all elements from a list: []

42. Replace negative numbers in a list with 0.

In [16]:
num=[1,2,3,4,5,-1,6,-5]
print('The original list:',num)
for i in range(len(num)):
    if num[i]<0:
        num[i]=0
print('After replacing negative number with 0 the list:',num)

The original list: [1, 2, 3, 4, 5, -1, 6, -5]
After replacing negative number with 0 the list: [1, 2, 3, 4, 5, 0, 6, 0]

43. Convert a string into a list of words.

In [107]:
string='This is an example of a string converted to the list of words'
lst=string.split()
print('After converting string into list the list:',lst)

After converting string into list the list: ['This', 'is', 'an', 'example', 'of', 'a', 'string', 'converted', 'to', 'the', 'list', 'of', 'words']

44. Convert a list of words into a string.

In [108]:
lst=['Hello','My','name','is','khan']
string=' '
string=string.join(lst)
print('After converting list into string:',string)

After converting list into string: Hello My name is khan

45. Create a list of the first `n` powers of 2.

In [109]:
n=int(input('Enter the value of n'))
num=[num**2 for num in range(1,n+1)]
print(f'List of first {n} powers of 2 are:',num)

Enter the value of n5
List of first 5 powers of 2 are: [1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [112]:
fruits=['apple','banana','cherry','orange','mango','pineapple','kiwi']
longest_str=''
for word in fruits:
    if len(word)>len(longest_str):
        longest_str=word
print('The longest string in this list:',longest_str)

The longest string in this list: pineapple

47. Find the shortest string in a list of strings.

In [ ]:
fruits=['apple','banana','cherry','orange','mango','pineapple','kiwi']
shortest_str=fruits[0]
for word in fruits:
    if len(word)<len(shortest_str):
        shortest_str=word
print('The shortest string in this list:',shortest_str)

48. Create a list of the first `n` triangular numbers.

In [17]:
num=int(input('Enter a number to get n number of triangular list:'))
num_list=[n*(n+1)//2 for n in range(1,num+1)]
print(f'The list of {num} triangular list: {num_list}')

Enter a number to get n number of triangular list:5
The list of 5 triangular list: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [22]:
def is_sub_sequence(mainlist,subseq):
    subseq_index=0
    for element in mainlist:
        if element==subseq[subseq_index]:
            subseq_index+=1
            if subseq_index==len(subseq):
                return True
    return False

main_list=[1,2,3,4,5,6,7,8,9,10]
sub_seq=[2,4,6]

if is_sub_sequence(main_list,sub_seq):
    print('A list contains another list as subsequence')
else:
    print('A list doesnot contain another list as subsequence')

A list contains another list as subsequence

50. Swap two elements in a list by their indices.

In [21]:
num=[1,2,3,4,5]
index1=int(input('Enter first index number:'))
index2=int(input('Enter  index number:'))

if 0<=index1<len(num) and 0<=index2<len(num):
    for i in range(len(num)):
        num[index1], num[index2] = num[index2], num[index1]
    print('The list after swapping indices are:',num)
else:
    print('index out of bound')

Enter first index number:0
Enter  index number:3
The list after swapping indices are: [4, 2, 3, 1, 5]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [6]:
num=tuple((x for x in range(1,6)))
print('A tuple from 1 to 5 are:',num)

A tuple from 1 to 5 are: (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [8]:
num=(1,2,3,4,5,6)
print('The third element from tuple:',num[2])

The third element from tuple: 3

3. Find the length of a tuple without using the `len()` function.

In [9]:
fruits=('apple','banana','cherry','orange','mango')
count=0
for i in fruits:
    count+=1
print('The length of the tuple is',count)

The length of the tuple is 5

4. Count the occurrences of an element in a tuple.

In [2]:
tup=(10,20,30,40,30,50,60,30,30)
ele=int(input('Enter an element to find: '))
count=tup.count(ele)

print(f'The occurance of {ele} in this tuple:',count)

Enter an element to find: 30
The occurance of 30 in this tuple: 4

5. Find the index of the first occurrence of an element in a tuple.

In [4]:
tup=(10,13,15,67,32,90,45,13,15,32)
ele=int(input('Enter an element to find its first occurance: '))
first_index=tup.index(ele)

print(f'The first index if {ele} in this tuple:',first_index)

Enter an element to find its first occurance: 32
The first index if 32 in this tuple: 4

6. Check if an element exists in a tuple.

In [ ]:
tup=(10,13,15,67,32,90,45,13,15,32)
ele=int(input('Enter an element to check: '))
if ele in tup:
    print(f'{ele} exist in tuple.')
else:
    print(f'{}')

7. Convert a tuple to a list.

In [11]:
num=(1,2,3,4,5,7,8,9,12,112)
print('After converting from tuple to list:',list(num))

After converting from tuple to list: [1, 2, 3, 4, 5, 7, 8, 9, 12, 112]

8. Convert a list to a tuple.

In [12]:
name=['pw','pwskills','kris naik','sudhansu kumar','ioi']
print('After converting list to tuple:',tuple(name))

After converting list to tuple: ('pw', 'pwskills', 'kris naik', 'sudhansu kumar', 'ioi')

9. Unpack the elements of a tuple into variables.

In [14]:
fruits=('apple','banana','cherry')
(green,yellow,red)=fruits
print('After unpacking list elements')
print('green =',green)
print('yellow =',yellow)
print('red =',red)

After unpacking list elements
green = apple
yellow = banana
red = cherry

10. Create a tuple of even numbers from 1 to 10.

In [17]:
num=tuple((x for x in range(1,11) if x%2==0))
print('The tuple containing even from 1 to 10 are:',num)

The tuple containing even from 1 to 10 are: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [18]:
num=tuple((x for x in range(1,11) if x%2!=0))
print('The tuple containing odd from 1 to 10 are:',num)

The tuple containing odd from 1 to 10 are: (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [19]:
tup1=(1,2,3,4,5)
tup2=(6,7,8,9,10)
tup3=tup1+tup2
print('After concating two tuples:',tup3)

After concating two tuples: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [22]:
tup=(12,13,14,15)
print('repeating a tuple three times',tup*3)

repeating a tuple three times (12, 13, 14, 15, 12, 13, 14, 15, 12, 13, 14, 15)

14. Check if a tuple is empty.

In [25]:
tup=()
if tup==():
    print('tuple is empty')

tuple is empty

15. Create a nested tuple.

In [11]:
tup1=(1,2,3),
tup2=(4,5,6),
print('The first tuple is: ',str(tup1))
print('The second tuple is: ',str(tup2))
res=tup1+tup2
print('The resulted tuple is: ',str(res))

The first tuple is:  ((1, 2, 3),)
The second tuple is:  ((4, 5, 6),)
The resulted tuple is:  ((1, 2, 3), (4, 5, 6))

16. Access the first element of a nested tuple.

In [13]:
tup=((1,2,3),(4,5,6),('Pw','Skills'))
print('The original tuple: ',tup)
print('The first element of a nested tuple is: ',tup[0])

The original tuple:  ((1, 2, 3), (4, 5, 6), ('Pw', 'Skills'))
The first element of a nested tuple is:  (1, 2, 3)

17. Create a tuple with a single element.

In [15]:
tup=('hello',)
print('The tuple with single element: ',tup)

The tuple with single element:  ('hello',)

18. Compare two tuples.

In [16]:
tup1=(2,4,6)
tup2=(4,9,16)
print('tup1==tup2: ',tup1==tup2)
print('tup1!=tup2: ',tup1!=tup2)
print('tup1<tup2: ',tup1<tup2)
print('tup1<=tup2: ',tup1<=tup2)
print('tup1>tup2: ',tup1>tup2)
print('tup1>=tup2: ',tup1>=tup2)

tup1==tup2:  False
tup1!=tup2:  True
tup1<tup2:  True
tup1<=tup2:  True
tup1>tup2:  False
tup1>=tup2:  False

19. Delete a tuple.

In [17]:
tup1=(1,2,3)
print('The tuple:',tup1)
del tup1
print(tup1)

The tuple: (1, 2, 3)

NameError: name 'tup1' is not defined

20. Slice a tuple.

In [18]:
tup=(1,2,3,4,5,6,7,8,9,10)
sliced_tup=tup[2:7]
print('The original tuple is :',tup)
print('The sliced tuple is :',sliced_tup)

The original tuple is : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
The sliced tuple is : (3, 4, 5, 6, 7)

21. Find the maximum value in a tuple.

In [1]:
tup=(11,12,14,2,45,67)
print('The max value in a tuple is',max(tup))

The max value in a tuple is 67

22. Find the minimum value in a tuple.

In [2]:
tup=(10,23,56,22,78)
print('The min value in a tuple is',min(tup))

The min value in a tuple is 10

23. Convert a string to a tuple of characters.

In [20]:
string='I am a boy'
tup=string.split()
print('The original string:',string)
print('The converted string into tuple:',tuple(tup))

The original string: I am a boy
The converted string into tuple: ('I', 'am', 'a', 'boy')

24. Convert a tuple of characters to a string.

In [21]:
tup=('I', 'am', 'a', 'boy')
string=' '.join(tup)
print('The original string:',tup)
print('After converting tuple into string:',string)

The original string: ('I', 'am', 'a', 'boy')
After converting tuple into string: I am a boy

25. Create a tuple from multiple data types.

In [22]:
tup=(1,'Pw',3.14,False)
print('A tuple with multiple data types:',tup)

A tuple with multiple data types: (1, 'Pw', 3.14, False)

26. Check if two tuples are identical.

In [24]:
tup1=(1,2,3)
tup2=(1,2,4)
tup3=(1,2,3)
is_identical1=tup1==tup2
is_identical2=tup1==tup3
print('tuple1 and tuple2 are identical:',is_identical1)
print('tuple1 and tuple3 are identical:',is_identical2)

tuple1 and tuple2 are identical: False
tuple1 and tuple3 are identical: True

27. Sort the elements of a tuple.

In [7]:
tup=(12,23,1,124,39,3211,78,90,4)
print('The sorted tuple is',tuple(sorted(tup)))

The sorted tuple is (1, 4, 12, 23, 39, 78, 90, 124, 3211)

28. Convert a tuple of integers to a tuple of strings.

In [26]:
tup=(1,2,3,4,5,6,7,8)
tuple_str=tuple(str(item) for item in tup)
print('After convert a tuple of integers to a tuple of strings:',tuple_str)

After convert a tuple of integers to a tuple of strings: ('1', '2', '3', '4', '5', '6', '7', '8')

29. Convert a tuple of strings to a tuple of integers.

In [27]:
tup=('1', '2', '3', '4', '5', '6', '7', '8')
tup_int=tuple(int(item) for item in tup)
print('After convert a tuple of string to a tuple of integers:',tup_int)

After convert a tuple of string to a tuple of integers: (1, 2, 3, 4, 5, 6, 7, 8)

30. Merge two tuples.

In [9]:
tup1=('pw','pwskills')
tup2=('sudhansu','kumar','kris','naik')
tup_merge=tup1+tup2
print('After merging two tuples:',tup_merge)

After merging two tuples: ('pw', 'pwskills', 'sudhansu', 'kumar', 'kris', 'naik')

31. Flatten a nested tuple.

In [14]:
tup = ((12, 23, 36), (20, 51, 40), (200, 240, 100))
flat_tup=(num for sub_tup in tup for num in sub_tup)
print('The flatten tuple:',tuple(flat_tup))

The flatten tuple: (12, 23, 36, 20, 51, 40, 200, 240, 100)

32. Create a tuple of the first 5 prime numbers.

In [53]:
flag=False
prime=[]
for i in range(2,20):
    for num in range(2,i):
        if i%num==0:
            flag=True
            break
    else:
        prime.append(i)
print('The tuple of first 5 prime numbers are:',tuple(prime[:5]))

The tuple of first 5 prime numbers are: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [30]:
tup=(1,2,3,2,1)
print('The tuple is:',tup)
if tup==tup[::-1]:
    print('Tuple is palindrome')
else:
    print('Tuple is not palindrome')

The tuple is: (1, 2, 3, 2, 1)
Tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [21]:
tup=tuple(num**2 for num in range(1,6) )
print('A tuple of squares of numbers from 1 to 5 are',tup)

A tuple of squares of numbers from 1 to 5 are (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [22]:
tup=(11,13,345,22,34,67,89,44,26,124,2345,3456)
even_tup=tuple(num for num in tup if num%2==0)
print('After filtering out all even numbers from a tuple the tuple is',even_tup)

After filtering out all even numbers from a tuple the tuple is (22, 34, 44, 26, 124, 3456)

36. Multiply all elements in a tuple by 2.

In [23]:
tup=(12,23,45,67,86,44,90,234,11,98)
new_tup=tuple(num*2 for num in tup)
print('Updated tuple after multiplying all elements by 2:',new_tup)

Updated tuple after multiplying all elements by 2: (24, 46, 90, 134, 172, 88, 180, 468, 22, 196)

37. Create a tuple of random numbers.

In [24]:
from random import randint
tup=tuple(randint(1,1000) for num in range(10))
print('A tuple of random numbers are:',tup)

A tuple of random numbers are: (89, 685, 408, 85, 341, 363, 782, 128, 868, 677)

38. Check if a tuple is sorted.

In [31]:
def sort_tup(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return False
    return True

tup1=(1,2,3,4,5)
tup2=(2,3,1,7,4)

print('The tup1 is sorted:',sort_tup(tup1))
print('The tup2 is sorted:',sort_tup(tup2))

The tup1 is sorted: True
The tup2 is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [32]:
tup=(1,2,3,4,5)
n=int(input('Enter a number for left rotation:'))
n=n%len(tup)

rotated_tup=tup[n:]+tup[:n]
print(f'The rotated tuple by {n} to the left: {rotated_tup}')

Enter a number for left rotation:3
The rotated tuple by 3 to the left: (4, 5, 1, 2, 3)

40. Rotate a tuple to the right by `n` positions.

In [33]:
tup=(1,2,3,4,5)
n=int(input('Enter a number for right rotation:'))
n=n%len(tup)

rotated_tup=tup[-n:]+tup[:-n]
print(f'The rotated tuple by {n} to the right: {rotated_tup}')

Enter a number for right rotation:2
The rotated tuple by 2 to the right: (4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [34]:
num1=0
num2=1
fib_tup=[0]
for i in range(1,5):
    num3=num1+num2
    num1,num2=num2,num3
    fib_tup.append(num1)
print('The first 5 fibonacci numbers in the tuple is:',tuple(fib_tup))

The first 5 fibonacci numbers in the tuple is: (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [25]:
tup=[]
num=int(input('enter the number of element to be added to the tuple: '))
for i in range(num):
    ele=int(input())
    tup.append(ele)
print('The tuple is',tuple(tup))

enter the number of element to be added to the tuple: 5
1
23
232
12
67
The tuple is (1, 23, 232, 12, 67)

43. Swap two elements in a tuple.

In [35]:
tup=(1,2,3,4,5)
tup=list(tup)
index1=int(input('Enter index1:'))
index2=int(input('Enter index2: '))
if 0<=index1<len(tup) and 0<=index2<len(tup):
    tup[index1],tup[index2]=tup[index2],tup[index1]
else:
    print('Index out of bound')

print('Swapped tuple:',tuple(tup))

Enter index1:1
Enter index2: 4
Swapped tuple: (1, 5, 3, 4, 2)

44. Reverse the elements of a tuple.

In [26]:
tup=('priya','brata','sahoo')
print('After reversing elements the tuple is',tup[::-1])

After reversing elements the tuple is ('sahoo', 'brata', 'priya')

45. Create a tuple of the first `n` powers of 2.

In [36]:
n=int(input('Enter the value of n: '))
tup=tuple(item**2 for item in range(1,n+1))
print('The power of 2 tuple is:',tup)

Enter the value of n: 5
The power of 2 tuple is: (1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [37]:
tup=('apple','banana','cherry','mango','guava','kiwi','pineapple','orange')
long_str=''
for word in tup:
    if len(word)>len(long_str):
        long_str=word
print('The longest string in this tuple:',long_str)

The longest string in this tuple: pineapple

47. Find the shortest string in a tuple of strings.

In [38]:
tup=('apple','banana','cherry','mango','guava','kiwi','pineapple','orange')
short_str=tup[0]
for word in tup:
    if len(word)<len(short_str):
        short_str=word
print('The shortest string in this tuple:',short_str)

The shortest string in this tuple: kiwi

48. Create a tuple of the first `n` triangular numbers.

In [50]:
num=int(input('Enter the number of triangular number required:'))
triangular_num=tuple((n)*(n+1)//2 for n in range(1,num+1))
print(f'The tuple {num} triangular numbers:',triangular_num)

Enter the number of triangular number required:5
The tuple 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [51]:
def is_subsequence(maintup,subseq):
    subseq_index=0
    for element in maintup:
        if element==subseq[subseq_index]:
            subseq_index+=1
            if subseq_index==len(subseq):
                return True
    return False
maintup=(1,2,3,4,5,6,7,8,9,10)
sub_seq=(2,7,10)
if is_subsequence(maintup,sub_seq):
    print('A tuple contains another tuple as subsequence')
else:
    print('A tuple does not contain another tuple as subsequence')

A tuple contains another tuple as subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [52]:
n=int(input('enter the length of tuple: '))
tup=tuple(i%2 for i in range(n))
print('The tuple of alternating 1s and 0s:',tup)

enter the length of tuple: 7
The tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0)

# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [27]:
set1={num for num in range(1,6)}
print('A set of from 1 to 5 is',set1)

A set of from 1 to 5 is {1, 2, 3, 4, 5}

2. Add an element to a set.

In [1]:
fruits={'apple','banana','cherry','pineapple'}
fruits.add('orange')
print('After adding element the updated set:',fruits)

After adding element the updated set: {'cherry', 'pineapple', 'orange', 'apple', 'banana'}

3. Remove an element from a set.

In [2]:
cars={'Audi','BMW','Chevrolet','Dacia','VW'}
cars.remove('Chevrolet')
print('After removing element the updated set:',cars)

After removing element the updated set: {'Audi', 'VW', 'Dacia', 'BMW'}

4. Check if an element exists in a set.

In [6]:
app={'jupyter','jetbrains','eclipse','turbo C','pycharm'}
string=input('Enter an element for existance: ')
if string in app:
    print(string,'exists')
else:
    print(string,'doesnot exist')

Enter an element for existance: eclipse
eclipse exists

5. Find the length of a set without using the `len()` function.

In [8]:
lang={'odia','english','hindi','tamil','telugu','malayalam','kannada','bengali'}
count=0
for i in lang:
    count+=1
print('The length of the set:',count)

The length of the set: 8

6. Clear all elements from a set.

In [9]:
appliance={'tv','fridge','washing machine','microwave','kitchen set'}
appliance.clear()
print('After clearing all elements from set:',appliance)

After clearing all elements from set: set()

7. Create a set of even numbers from 1 to 10.

In [10]:
even={x for x in range(1,11) if x%2==0}
print('The set of even numbers are:',even)

The set of even numbers are: {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [11]:
odd={x for x in range(1,11) if x%2!=0}
print('The set of odd numbers are:',odd)

The set of odd numbers are: {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [1]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','apple'}
res=fruit.union(company)
print('The union of two sets:',res)

The union of two sets: {'cherry', 'apple', 'microsoft', 'google', 'banana'}

10. Find the intersection of two sets.

In [2]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','apple'}
res=fruit.intersection(company)
print('The intersection of two sets:',res)

The intersection of two sets: {'apple'}

11. Find the difference between two sets.

In [3]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','apple'}
res=fruit.difference(company)
print('The difference between two sets:',res)

The difference between two sets: {'cherry', 'banana'}

12. Check if a set is a subset of another set.

In [4]:
num={1,2,3}
num2={4,5,6,1,2,3,7,8}
res=num.issubset(num2)
print('A set is a subset of another set:',res)

A set is a subset of another set: True

13. Check if a set is a superset of another set.

In [5]:
num={1,2,3}
num2={4,5,6,1,2,3,7,8}
res=num2.issuperset(num)
print('A set is a superset of another set:',res)

A set is a superset of another set: True

14. Create a set from a list.

In [6]:
num_list=['apple','samsung','oneplus','oppo','vivo']
print('After converting a set from list:',set(num_list))

After converting a set from list: {'samsung', 'apple', 'oneplus', 'oppo', 'vivo'}

15. Convert a set to a list.

In [12]:
mobile={'apple','samsung','oneplus','oppo','vivo'}
print('After converting a set to a list',list(mobile))

After converting a set to a list ['samsung', 'vivo', 'oppo', 'oneplus', 'apple']

16. Remove a random element from a set.

In [16]:
mobile={'apple','samsung','oneplus','oppo','vivo'}
mobile.pop()
print('After removing random element:',mobile)

After removing random element: {'vivo', 'oppo', 'oneplus', 'apple'}

17. Pop an element from a set.

In [7]:
num={1,2,3,4,5}
res=num.pop()
print('After a popping an element:',num)

After a popping an element: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [10]:
num1={2,4,6,8,10,12,14,16}
num2={3,5,7,9,11}
res=num1.intersection(num2)
if not res:
    print('No elements are common in the sets')
else:
    print('elements are common in the sets')

No elements are common in the sets

19. Find the symmetric difference between two sets.

In [11]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','apple'}
res=fruit.symmetric_difference(company)
print('The symmetric difference between two sets:',res)

The symmetric difference between two sets: {'cherry', 'banana', 'microsoft', 'google'}

20. Update a set with elements from another set.

In [12]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','apple'}
fruit.update(company)
print('After updating a set with another set:',fruit)

After updating a set with another set: {'cherry', 'apple', 'microsoft', 'google', 'banana'}

21. Create a set of the first 5 prime numbers.

In [13]:
flag=False
prime=[]
num=20
for i in range(2,num):
    for j in range(2,i):
        if i%j==0:
            flag=True
            break
    else:
        prime.append(i)

print('The first five numbers in a set:',set(prime[:5]))

The first five numbers in a set: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [14]:
set1={1,2,3,4,5}
set2={2,3,1,4,5}
if set1==set2:
    print('Two sets are identical')
else:
    print('Two set are not identical')

Two sets are identical

23. Create a frozen set.

In [15]:
num={2,4,6,8}
froz_set=frozenset(num)
print('The frozen set:',froz_set)

The frozen set: frozenset({8, 2, 4, 6})

24. Check if a set is disjoint with another set.

In [17]:
fruit={'apple','banana','cherry'}
company={'google','microsoft','fb'}
res=fruit.isdisjoint(company)
print('A set is disjoint with another set:',res)

A set is disjoint with another set: True

25. Create a set of squares of numbers from 1 to 5.

In [17]:
original_set={x for x in range(1,6)}
print('The original set:',original_set)
square_set={x**2 for x in range(1,6)}
print('The set of squares from 1 to 5:',square_set)

The original set: {1, 2, 3, 4, 5}
The set of squares from 1 to 5: {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [19]:
num_set={x for x in range(1,31)}
print('The original set:',num_set)
even_set={num for num in num_set if num%2==0}
print('The filtered even set is:',even_set)

The original set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}
The filtered even set is: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30}

27. Multiply all elements in a set by 2.

In [20]:
num_set={1,2,3,4,5}
print('The original set:',num_set)
multiplied_set={x*2 for x in num_set}
print('The multipled set:',multiplied_set)

The original set: {1, 2, 3, 4, 5}
The multipled set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [22]:
from random import randint
num_set={randint(1,300) for num in range(10)}
print('A set of random numbers are:',num_set)

A set of random numbers are: {1, 197, 40, 138, 139, 17, 241, 51, 20, 253}

29. Check if a set is empty.

In [28]:
num_set1={1,2,3}
print('The original set:',num_set1)
if num_set1==set():
    print('The set is empty')
else:
    print('The set is not empty')
num_set2=set()
print('The original set:',num_set2)
if num_set2==set():
    print('The set is empty')
else:
    print('The set is not empty')

The original set: {1, 2, 3}
The set is not empty
The original set: set()
The set is empty

30. Create a nested set (hint: use frozenset).

In [18]:
set1={1,2,3,4,5}
set2={5,6,7,8,9,10}
froz_set1=frozenset(set1)
froz_set2=frozenset(set2)
nest_set={froz_set1,froz_set2}
print('The nested set:',nest_set)

The nested set: {frozenset({1, 2, 3, 4, 5}), frozenset({5, 6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [31]:
num_set={1,2,3,4,5}
print('The original set:',num_set)
discarded_element=3
num_set.discard(discarded_element)
print(f'After discarding {discarded_element} the set is {num_set}')

The original set: {1, 2, 3, 4, 5}
After discarding 3 the set is {1, 2, 4, 5}

32. Compare two sets.

In [22]:
set1={1,2,3,4,5,6}
set2={5,6,7,8,9,10}
is_subset=set1.issubset(set2)
is_superset=set1.issuperset(set2)
union=set1.union(set2)
intersection=set1.intersection(set2)
diff1=set1.difference(set2)
diff2=set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Union:", union)
print("Intersection:", intersection)
print("Elements in set1 but not in set2:", diff1)
print("Elements in set2 but not in set1:", diff2)

Set 1: {1, 2, 3, 4, 5, 6}
Set 2: {5, 6, 7, 8, 9, 10}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: {5, 6}
Elements in set1 but not in set2: {1, 2, 3, 4}
Elements in set2 but not in set1: {8, 9, 10, 7}

33. Create a set from a string.

In [21]:
string='Pwskills'
print('The set from a string:',set(string))

The set from a string: {'i', 'l', 'P', 'w', 's', 'k'}

34. Convert a set of strings to a set of integers.

In [33]:
str_set={'1','2','3','4','5'}
num_set=set()
for num in str_set:
    num_set.add(int(num))
print('The set of strings:',str_set)
print('The set of integers:',num_set)

The set of strings: {'4', '1', '2', '5', '3'}
The set of integers: {1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings.

In [32]:
num_set={1,2,3,4,5}
str_set=set()
for num in num_set:
    str_set.add(str(num))
print('The set of integers:',num_set)
print('The set of strings:',str_set)

The set of integers: {1, 2, 3, 4, 5}
The set of strings: {'4', '2', '1', '5', '3'}

36. Create a set from a tuple.

In [24]:
tup=('Hello','Pwskills',1)
print('The set from tuple:',set(tup))

The set from tuple: {1, 'Pwskills', 'Hello'}

37. Convert a set to a tuple.

In [25]:
num={1,2,3,4,5,6,7,8}
print('Convertion of a set to tuple:',tuple(num))

Convertion of a set to tuple: (1, 2, 3, 4, 5, 6, 7, 8)

38. Find the maximum value in a set.

In [34]:
from random import randint
num_set={randint(1,100) for num in range(10)}
print('The original set:',num_set)
print('The maximum num in a set:',max(num_set))

The original set: {67, 72, 73, 77, 16, 53, 57, 58, 91, 60}
The maximum num in a set: 91

39. Find the minimum value in a set.

In [35]:
from random import randint
num_set={randint(1,100) for num in range(10)}
print('The original set:',num_set)
print('The minimum num in a set:',min(num_set))

The original set: {26, 100, 90, 4, 6, 36, 78, 82, 58, 95}
The minimum num in a set: 4

40. Create a set from user input.

In [36]:
user_set=set()
num=int(input('enter the number of element to be added to the set'))
for i in range(num):
    ele=input()
    user_set.add(ele)
print('The set after taking user input:',user_set)

enter the number of element to be added to the set5
pw
pwskills
sudhansu
kumar
kris
The set after taking user input: {'kris', 'pwskills', 'pw', 'sudhansu', 'kumar'}

41. Check if the intersection of two sets is empty.

In [27]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}
res=set1.intersection(set2)
if not res:
    print('The intersection of two sets is empty')
else:
    print('The intersection of two sets is not empty')

The intersection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

In [31]:
fib_ser={0}
num1=0
num2=1
for i in range(1,6):
    num3=num1+num2
    num1,num2=num2,num3
    fib_ser.add(num1)
print('The fibonacci series of first 5 numbers:',fib_ser)

The fibonacci series of first 5 numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [32]:
num=[1,2,3,2,4,5,6,7,5,6,2,3,8,9,1,2]
num_set=set(num)
new_num=list(num_set)
print('The original set:',num)
print('After removing duplicates:',new_num)

The original set: [1, 2, 3, 2, 4, 5, 6, 7, 5, 6, 2, 3, 8, 9, 1, 2]
After removing duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9]

44. Check if two sets have the same elements, regardless of their count.

In [36]:
set1={1,2,3,2,1,2}
set2={3,2,1}
if set1==set2:
    print('two sets have same elements')
else:
    print('two sets dont have same elements')

two sets have same elements

45. Create a set of the first `n` powers of 2.

In [41]:
n=int(input('Enter the length of the set:'))
power_set=set(num**2 for num in range(1,n+1))
print(f'a set of the first {n} powers of 2: {power_set}')

Enter the length of the set:5
a set of the first 5 powers of 2: {1, 4, 9, 16, 25}

46. Find the common elements between a set and a list.

In [43]:
num_set={1,2,3,4,5}
num_list=[3,4,6,7,8]
common=[]
for i in num_set:
    if i in num_list:
        common.append(i)
print('The common element between a set and a list:',common)

The common element between a set and a list: [3, 4]

47. Create a set of the first `n` triangular numbers.

In [47]:
n=int(input('Enter the length of a set:'))
tri_set=set(num*(num+1)//2 for num in range(1,n+1))
print(f'a set of the first {n} set: {tri_set}')

Enter the length of a set:5
a set of the first 5 set: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [49]:
set1={1,2,3,4}
set2={1,2,3,4,5,6,7,8}
res=set1.issubset(set2)
if res:
    print('set1 is a subset of set2')
else:
    print('set1 is not a subset of set2')

set1 is a subset of set2

49. Create a set of alternating 1s and 0s of length `n`.

In [50]:
n=int(input('Enter the length of a set:'))
new_set=set(i%2 for i in range(n))
print('a set of alternating 1s and 0s:',new_set)

Enter the length of a set:6
a set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [51]:
set1={1,2,3,4,5}
set2={2,3,5}
set3={4,5,6,7,8}
set4={3,4,5,9}
res=set1.union(set2,set3,set4)
print('The merged set:',res)

The merged set: {1, 2, 3, 4, 5, 6, 7, 8, 9}